.header {
  width: 100vw;
  background-color: rgb(86, 173, 231);
  text-align: center;
}
.main-heading {
  display: inline-block;
}
.custom-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  justify-self: flex-end;
  height: 35px;
  color: white;
  background-color: rgb(32, 110, 32);
  border: none;
}

@media screen and (max-width: 600px) {
  .custom-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    justify-self: flex-end;
    height: 30px;
    color: white;
    background-color: rgb(32, 110, 32);
    border: none;
  }
}
