.search {
  text-align: center;
  margin: 20px;
}
.input-area {
  padding: 10px;
  padding-left: 20px;
  width: 40vw;
  border: none;
  background-color: rgb(197, 195, 195);
}
@media screen and (max-width: 600px) {
  .input-area {
    padding: 10px;
    padding-left: 20px;
    width: 70vw;
    border: none;
    background-color: rgb(197, 195, 195);
  }
}
